
@font-face {
    font-family: Kollektif;
    src: url(./fonts/Kollektif.ttf) format('truetype');
    } 
*{
    margin: 0;
    padding: 0;
    font-family: 'Kollektif';
    max-width: 100%;
    overflow-x: visible;
}
header{
    max-width: 100%;
    align-items: center;
    display: flexbox;
    width: 100%;
    background-image: url('./Images/BG.png');
    background-repeat: round;
    margin-top: 0%;
    position: relative;
}


#logoHeader{
    width: 20.5%;
    padding-left: 4%;
    max-width: 100%;
    padding-right: 3%;
}

nav{
    margin-top: 0%;
    max-width:100%;
    position: relative;
}

nav ul li {
    margin-right: 0%;
    font-size: 20px;
    max-width: 70%;
    margin-right: 3%;
    
}
.nav-link{
    color: #001c9e;
}
nav ul{
    align-items: center;
    width: 100%;
    margin-left: 0%;
}

.social{
    max-width: 120px;
    margin: 0;
}


#setaBtn{
    width: 30px;
    margin-left: 20%;
    position: relative;
    bottom: 15px;
 
}

#areaRepButton a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    justify-content: left;
    justify-items: left;
    font-size: 20.5px;
}
/*Inserindo animação nos links*/
.nav-link{
    transition: all .8s;
    position: relative;
    padding-bottom: 3px;
}


.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left:0 ;
    width: 0%;
    height: 3px;
    background-color: #001c9e;
    transition: width .4s;
}

.nav-link:hover::before{
    width: 100%;
}

#areaRepBtn{
    background-color: #001c9e;
    margin-left: 10px;
    width: 190px;
    transition: .2s;
    margin-left: 20%;
}



#areaRepBtn:hover{
    width: 240px;
    transition: .2s;
}

#textHeader{
    font-size: 3.5rem;
    width: 100%;
    
    padding-left: 11%;
    color:#001c9e;
}

.negrito{
    font-weight: 600;
}

#boneco{
    margin-left: 20%;
    padding-top: 0;
    margin-bottom: 0;
    width: 60%;
}

#repBtn{
    margin-left: 11%;
    margin-top: 20px;
    background-color: #001c9e;
    font-size: 27px;
    font-weight: 600;
    width: 300px;
    text-align: left;
    line-height: 20px;
    transition: .2s;
    border-radius: 15px;
    padding-top: 20px;
}

#repBtn:hover{
    width: 320px;
    transition: .2s; 
    #setaBtn{
        margin-left: 21%;
        transition: .2s;
    }  
}

#caminhao{
    font-size: 24px;
    padding-left: 11%;
    font-weight: 500;
    padding-top: 2%;
    color: #001c9e;
}

#shape{
    background-image: url(./Images/Shape.png);
    background-size: 103% 330px;
    width: 100%;
    margin: 0;
    padding-left: 2.5%;
    position: absolute;
    top: -80px;
    padding-bottom: 5%; 
    background-repeat: repeat-x;
    z-index: 3;
    left: 0%;
}

.textoshape{
    padding-top: 10%;
    font-size:35px;
    color: White;
}

#meio{
    margin-left: 5%;
}


main{
    max-width: 100%;
    margin-top: 0px!important;
    position: relative;
    z-index: 1;
    max-height: fit-content;
    padding-top: 120px;
}

#atuacao{
    background-image: url(./Images/BGMAIN.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 80px;
}
#atuacaoP{
    margin-top:10%;
    font-size: 25px;
    width: 80%;
    text-align: justify;
    color: #001c9e;
}

.destaques{
    margin: 0;
}

.paragrafoDestaque{
    position: relative;
    top: 30%;
    text-align: left;
    padding-right: 2%;
    left: 18%;
    width: 70%;
    font-size: 20px;
}

#produtoDestaqueIMG{
    position: relative;
    left: 10%;
}
#produtoDestaque{
    background-image: url(./Images/BG_Destaque.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#repDestaqueBtn{
    z-index: 2;
    background-color: #001c9e;
    width: 270px;
    transition: .2s;
    border-radius: 12px;
}
#setaBtnDestaque{
    position: relative;
    width: 22px;
    margin-left: 2%;
    
}
#repDestaqueBtn:hover{
    width: 278px;
    transition: .2s;
    #setaBtnDestaque{
        margin-left:1%;
    }
}

#textoDestaque h2{
    font-size: 20px;
}

#textoDestaque{
    text-align: end;
    align-items: center;
    font-size: 15px;
    width: 3%;
    position: relative;
}

#textoDestaqueResponsivo{
    display: none;
}
#principaisProdutos{
    background-image: url(./Images/BG.png);
    padding: 3% 0%;
}
#principaisProdutos h1{
    text-align: center;
    padding-bottom: 1%;
    color: #001c9e;
}

.imggrande{
    width: 207px;
}

#baixeCatalogoBtn{
    z-index: 2;
    background-color: #001c9e;
    width: 300px;
    transition: .2s;
    border-radius: 12px;
    font-size: 22px;
    margin-top: 3%;
}
#setaBtnCatalogo{
    position: relative;
    width: 22px;
    margin-left: 4%;
    
}
#baixeCatalogoBtn:hover{
    width: 320px;
    transition: .2s;
    #setaBtnCatalogo{
        margin-left:7%;
    }
}

#sloganResp{
    display: none;
}

#slogan{
    display:block
}

#repDestaqueBtnResp{
    display: none;
    z-index: 2;
    background-color: #001c9e;
    width: 270px;
    transition: .2s;
    border-radius: 12px;

}
#repDestaqueBtnResp:hover{
    width: 278px;
    transition: .2s;
    #setaBtnDestaque{
        margin-left:1%;
    }
}

#novidades{
    margin-left: 8%;
    margin-top: 4%;
    color: #001c9e;
}

#fiquepordentro{
    text-align: end;
    margin-top: 4%;
    margin-right: 8%;
    color: #001c9e;
}

#acesseBlogImg{
    align-items: center;
    margin-left: 10%;
    margin-top: 2%;
    animation-duration: 6s;
    animation-name: moveToRight;
    animation-direction: normal;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
    overflow-x: hidden;
}

#acesseBlogImgResp{
    display: none;
}

#formsContato{
    background-image: url(./Images/BG.png);
    padding-left: 7%;
    padding-top: 3%;
    padding-right: 7%;
}

#logoFooter{
    width: 40%;
}
#socialFooter img{
    margin: 0;
    padding: 0;
}

#materiasBlog{
    padding: 5% 0;
}

#formsContato h1{
    color: #001c9e;
    font-weight: 600;
    margin-top: 40px;
}

#formsContato label{
    color: black;
}

#forms{
    padding-right: 5%;
}

#enderecos{
    color: #001c9e;
    margin-top: 3%;
}

#creditos a{
    text-decoration: none;
    color: white;
}

#creditos{
    color: white;
    background-color: #001c9e;
    padding: 0.3%;
}

.sendBtn{
    background-color: #001c9e;
}
  
@keyframes moveToRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
    

@media (width <= 1000px) {
    *{
        max-width: 100%;
        margin: 0;
    }
    .social{
        display: none;
    }
    header{
        padding-bottom: 10%;
        background-image: url(./Images/BGYellowResp.png);
    }
    #logoHeader{
        width: 170px;
    }

    nav ul{
        margin: 0;
    }
    #boneco{
        margin: 0;
        display: none;
    }
    #textHeader{
        font-size: 40px;
        margin: 0;
        padding-top: 10px;
        padding-left: 30px;
    }
    #repBtn{
        margin: 0;
        font-size: 23px;
        padding:6px;
        margin-top: 1%;
        width: 360px;
        height: 50px;
        margin-top: 6%;
        padding-left: 3%;
        margin-left: 3%;
        margin-bottom: 3%;
        padding-bottom:8%;
        padding-top: 4%;
        z-index: 1;
    }

    #repBtn:hover{
        margin: 0;
        font-size: 23px;
        padding:6px;
        margin-top: 1%;
        width: 360px;
        height: 50px;
        margin-top: 6%;
        padding-left: 3%;
        margin-left: 3%;
        margin-bottom: 3%;
        padding-bottom:8%;
        padding-top: 4%;
        z-index: 1;
    }

    .headerP{
        max-width: 100%;
    }
    .headerSec{
        max-width: 100%;
    }
        
    #setaBtn{
        position: relative;
        left: 220px;
        top: -32px;

    }

    #formsContato{
        background-image: url(./Images/BGYellowResp.png);
        background-size: 100%;
    }

    #shape{
        background-image: url(./Images/Shape.png);
        background-size: 103% 160px;
        width: 100%;
        background-repeat: no-repeat;
        top: -50px;
        margin: 0;
        padding-top: 3%;
    }
    #materiasBlog .col-sm{
        margin-top: 2%;
        margin-left: 3%;
    }
    .textoshape{
        font-size: 15px;
        margin-top: 28px;
        position: relative;
        top: -10px;
        
    }

    .textoshape br{
        display: none;
    }

    #caminhao{
        font-size: 15px;
        padding-left: 4%;
        font-weight: 500;
        padding-top: 2%;
    }

    #caminhao img{
        width: 10%;
    }

    main{
        position: relative;
        padding-top: 12px;
    }

    #atuacaoP{
        font-size: 20px;
        width: 100%;
        text-align: justify;
    }

    #atuacao{
        background-image: url(./Images/BGVideoResp.png);
        padding-bottom: 3%;
    }

    #sloganimg{
        display: none;
    }

    #sloganResp{
        height: 70px;
        width: 1200px;
        margin-top: 2%;
        display: block;
    }

    #produtoDestaque{
        background-image: url(./Images/BGDestResp.png);
        padding-bottom: 2%;
    }

    #repDestaqueBtnResp{
        margin-left: 20%;
        margin-top: 3%;
    }

    #textoDestaque{
        display: none;
    }

    #textoDestaqueResponsivo{
        display: block;
        margin-left: 1%;
        background-color: #f4ce0f;
        width: 100%;
        border-radius: 5%;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    #produtoDestaqueIMG{
        position: relative;
        left: 0;
    }

    #repDestaqueBtnResp{
        display: block;
    }

    #principaisProdutos{
        background-image: url(./Images/BGYellowResp.png);
        background-size: 100%;
        background-repeat: repeat-y;
    }

    #principaisProdutos img{
        margin-bottom: 28px;
    }

    #imgPequena{
        width: 300px;
        margin-left: 8%;
    }
    #baixeCatalogoBtn{
        margin: 0;
        font-size: 28px;
        margin-top: 1%;
        width: 360px;
        height: 70px;
        padding-left: 3%;
        margin-bottom: 3%;
        padding-bottom:8%;
        text-align: center;
    }

    #setaBtnCatalogo{
        top: 12px;
    }
    #acesseBlogImg{
        display:none;
    }

    #acesseBlogImgResp{
        display: block;
        align-items: center;
        margin-left: 0%;
        margin-top: 2%;
        animation-duration: 6s;
        animation-name: moveToRight;
        animation-direction: normal;
        animation-timeline: view();
        animation-range: cover 0% cover 50%;
        overflow-x: hidden;
    }

    #logoFooter{
        width:70%;
        margin-top:6%;
    }

    .socialFooter{
        width: 30px;
        margin: 4% 0;
    }

    footer h1{
        font-size: 40px;
        margin-top: 0;
    }

    #enderecos{
        margin-left: 2px;
    }

    #creditos .col{
        margin-left: 20px;
    }

}
